server:
  port: 8888
  servlet:
    context-path: /api
spring:
  application:
    name: tech-check-backend
  profiles:
    active: local
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/tech_check
    username: root
    password: 123456
  # Redis 配置
  redis:
    host: localhost
    port: 6379
#    password: xxx
    database: 0
  data:
    redis:
      timeout: 2000
# springdoc-openapi 配置
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.halcyon.techcheckbackend.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
mybatis-plus:
  configuration:
    # MyBatis 配置
    map-underscore-to-camel-case: false
    # 仅在开发环境打印日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      #逻辑删除
      logic-delete-field: isDelete
      logic-delete-value: 1
      logic-not-delete-value: 0